/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #574c3d;  
    
    color: white;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: left;
}


header {
    color: #fcc321;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* fonts */

header{
font-family: 'Times New Roman', Times, serif
}

article{
  font-family: 'Courier New', Courier, monospace
}



/* specifieke stijlen */

img.zweefRechts {
  float: right;
  margin-left: 15px; 
}

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

.floatClear{
  clear: both;
}

/* opmaak voor tank paginas */

img.tank{
  float: left;
  width: 50%;
  margin-right: 15px;
}

th{
  padding-right: 15px;
}

.tableCenter{
  margin-left: auto;
  margin-right: auto;
}

.ruimteTable{
  padding-right: 15px;
  font-weight: bold;
}

/* opmaak veldslagen paginas */

img.slagen {
  float: right;
  margin-left: 15px;
  width: 50%;  
}

img.slagenLinks {
  float: left;
  margin-right: 15px;
  width: 50%;  
}

.textRechts{
  float: right;
  width: 45%
}

.textLinks{
  float: ;
  width: 45%
}

/* css code voor youtube video */

iframe{
  width: 100%;
  height: 500px;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #fcc321;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: #574c3d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover {
    background-color: #736450;
    color: white;
}

nav li a.active {
    background-color: #40382d;
    color: #fcc321;
}


/* fixed nav bar */
nav{
  position: fixed;
top: 0px;
width: 700px;
}

.info{
 padding-top: 30px;
}
