/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #574c3d;  
    
    color: white;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: left;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}





/* specifieke stijlen */

img.zweefRechts {
  float: right;
  margin-left: 15px; 
}

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.floatClear{
  clear: both;
}

img.tank{
  float: left;
  width: 35%;
  margin-right: 15px;
}

th{
  padding-right: 15px;
}

.tableCenter{
  margin-left: auto;
  margin-right: auto;
}

.ruimteTable{
  padding-right: 15px;
  font-weight: bold;
}

img.slagen {
  float: right;
  margin-left: 15px;
  width: 50%;  
}



iframe{
  width: 100%;
  height: 500px;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #fcc321;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: #40382d;
    color: #fcc321;
}




